@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVuEooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvoooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVsEpYCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pYCP.ttf) format('truetype');
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #e76f51;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}
.wrapper {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}
.header {
  padding: 20px 0;
}
.header__inner {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
}
.header__nav {
  display: flex;
}
.header__link {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  text-decoration: none;
  border: none;
  outline: none;
  padding: 10px 20px;
  margin: 0 20px 0 0;
  transition: all 0.2s ease;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.header__link:last-child {
  margin: 0;
}
.header__link::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  top: 0;
  left: -30px;
  transform: skew(-30deg);
  transition: left 0.4s ease;
}
.header__link:hover::after {
  animation: moveLightOnBtn 0.4s ease;
}
.header__link:active {
  transform: scale(0.95);
}
.section {
  padding: 40px 0;
}
.pomodoro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pomodoro__timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 40px;
  margin: 0 0 40px 0;
}
.pomodoro__modes {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pomodoro__mode {
  position: relative;
  background-color: transparent;
  color: #fff;
  border: none;
  outline: none;
  line-height: 1;
  text-decoration: none;
  text-align: center;
  margin: 0 20px 0 0;
  cursor: pointer;
}
@media (max-width: 600px) {
  .pomodoro__mode {
    font-size: 14px;
    margin: 0 15px 0 0;
  }
}
.pomodoro__mode:last-child {
  margin: 0;
}
.pomodoro__mode:hover {
  color: #f2f2f2;
}
.pomodoro__mode:active {
  color: #e6e6e6;
}
.pomodoro__mode.current {
  font-weight: 700;
}
.pomodoro__mode:disabled {
  color: rgba(255, 255, 255, 0.7);
}
.pomodoro__mode.current:disabled {
  color: #fff;
}
.pomodoro__body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 320px;
  border: 10px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  margin: 40px 0;
}
.pomodoro__body span {
  font-size: 60px;
  color: #fff;
}
@media (max-width: 800px) {
  .pomodoro__body span {
    font-size: 40px;
  }
}
@media (max-width: 600px) {
  .pomodoro__body {
    width: 200px;
    height: 200px;
    border: 5px solid rgba(255, 255, 255, 0.7);
  }
}
.pomodoro__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 600px) {
  .pomodoro__buttons {
    flex-direction: column;
  }
}
.pomodoro__btn {
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  border: none;
  outline: none;
  line-height: 1;
  text-decoration: none;
  padding: 10px 40px;
  margin: 0 30px 0 0;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.2s ease;
}
@media (max-width: 600px) {
  .pomodoro__btn {
    width: 200px;
    margin: 0 0 20px 0;
  }
}
.pomodoro__btn:last-child {
  margin: 0;
}
.pomodoro__btn::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  top: 0;
  left: -30px;
  transform: skew(-30deg);
  transition: left 0.4s ease;
}
.pomodoro__btn:hover::after {
  animation: moveLightOnBtn 0.4s ease;
}
.pomodoro__btn:active {
  transform: scale(0.95);
}
.pomodoro__btn:disabled {
  background-color: rgba(255, 255, 255, 0.05);
}
.pomodoro__btn:disabled:hover::after {
  animation: none;
}
.pomodoro__todolist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.pomodoro__title {
  width: 100%;
  font-size: 24px;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding: 0 0 10px 0;
  margin: 0 0 20px 0;
}
.pomodoro__addtask {
  width: 100%;
  position: relative;
}
.pomodoro__addtask input {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  border: none;
  outline: none;
  padding: 10px;
}
.pomodoro__addtask input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.pomodoro__addtask button {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  top: 0;
  right: 10px;
  transform: translateY(50%);
  cursor: pointer;
}
.pomodoro__addtask button::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 20px;
  top: 0;
  right: 50%;
  background-color: #fff;
  transform: translateX(50%);
}
.pomodoro__addtask button::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 2px;
  top: 50%;
  right: 0;
  background-color: #fff;
  transform: translateY(-50%);
}
.pomodoro__addtask button:hover::before,
.pomodoro__addtask button:hover::after {
  background-color: rgba(255, 255, 255, 0.8);
}
.pomodoro__addtask button:active::before,
.pomodoro__addtask button:active::after {
  background-color: rgba(255, 255, 255, 0.6);
}
.pomodoro__tasks {
  width: 100%;
}
.pomodoro__task {
  width: 100%;
  position: relative;
  margin: 10px 0 0 0;
}
.pomodoro__task input {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  border: none;
  outline: none;
  padding: 10px;
}
.pomodoro__task input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.pomodoro__task button {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  top: 0;
  right: 10px;
  transform: translateY(50%);
  cursor: pointer;
}
.pomodoro__task button::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 20px;
  top: 0;
  right: 50%;
  background-color: #fff;
  transform: translateX(50%) rotate(45deg);
}
.pomodoro__task button::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 2px;
  top: 50%;
  right: 0;
  background-color: #fff;
  transform: translateY(-50%) rotate(45deg);
}
.pomodoro__task button:hover::before,
.pomodoro__task button:hover::after {
  background-color: rgba(255, 255, 255, 0.8);
}
.pomodoro__task button:active::before,
.pomodoro__task button:active::after {
  background-color: rgba(255, 255, 255, 0.6);
}
.pomodoro__task .pomodoro__taskdelete {
  right: 10px;
}
.pomodoro__task .pomodoro__taskedit {
  right: 40px;
}
.modal {
  display: none;
  color: #808080;
}
.modal.active {
  display: block;
}
.modal__bg {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(25, 25, 25, 0.8);
  padding: 0 20px;
  z-index: 1000;
}
.modal__dialog {
  position: relative;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  padding: 40px;
}
.modal__title {
  font-size: 24px;
  text-align: center;
  margin: 0 0 40px 0;
}
.modal__close {
  position: absolute;
  background: transparent;
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  right: 15px;
  top: 20px;
  cursor: pointer;
}
.modal__close::before,
.modal__close::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 5px;
  background-color: #fff;
  right: 0;
  top: 0;
  transition: all 0.3s ease;
}
.modal__close::before {
  transform: rotate(45deg);
}
.modal__close::after {
  transform: rotate(-45deg);
}
.modal__close:hover::before,
.modal__close:hover::after {
  background-color: #666666;
}
.settings {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.settings__item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 20px 0;
}
.settings__item input {
  width: 60px;
  color: #191919;
  font-size: 18px;
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  outline: none;
  padding: 10px;
  margin: 0 5px 0 0;
  transition: all 0.4s ease;
}
.settings__item input:last-child {
  margin: 0;
}
.settings__item input:disabled {
  color: #b3b3b3;
  background-color: rgba(255, 255, 255, 0.1);
}
.settings__buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 0 0;
}
.settings__btn {
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  border: none;
  outline: none;
  line-height: 1;
  text-decoration: none;
  padding: 10px 30px;
  margin: 0 20px 0 0;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.2s ease;
}
.settings__btn:last-child {
  margin: 0;
}
.settings__btn::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  top: 0;
  left: -30px;
  transform: skew(-30deg);
  transition: left 0.4s ease;
}
.settings__btn:hover::after {
  animation: moveLightOnBtn 0.4s ease;
}
.settings__btn:active {
  transform: scale(0.95);
}
.settings__btn:disabled {
  color: #b3b3b3;
  background-color: rgba(255, 255, 255, 0.1);
}
.settings__btn:disabled:hover::after {
  animation: none;
}
@keyframes moveLightOnBtn {
  from {
    left: -20px;
  }
  to {
    left: calc(100% + 30px);
  }
}
