@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVuEooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvoooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVsEpYCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pYCP.ttf) format('truetype');
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #e76f51;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}
.wrapper {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}
.header {
  padding: 20px 0;
}
.header__inner {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
}
.header__nav {
  display: flex;
}
.header__link {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 20px 0 0;
  transition: all 0.2s ease;
  position: relative;
  overflow: hidden;
}
.header__link:last-child {
  margin: 0;
}
.header__link::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  top: 0;
  left: -30px;
  transform: skew(-30deg);
  transition: left 0.4s ease;
}
.header__link:hover::after {
  animation: moveLightOnBtn 0.4s ease;
}
.header__link:active {
  transform: scale(0.95);
}
.section {
  padding: 40px 0;
}
.pomodoro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pomodoro__timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 40px;
}
.pomodoro__modes {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pomodoro__mode {
  position: relative;
  background-color: transparent;
  color: #fff;
  border: none;
  outline: none;
  line-height: 1;
  text-decoration: none;
  margin: 0 20px 0 0;
  cursor: pointer;
}
.pomodoro__mode:last-child {
  margin: 0;
}
.pomodoro__mode:hover {
  color: #f2f2f2;
}
.pomodoro__mode:active {
  color: #e6e6e6;
}
.pomodoro__mode.current {
  font-weight: 700;
}
.pomodoro__mode:disabled {
  color: rgba(255, 255, 255, 0.7);
}
.pomodoro__mode.current:disabled {
  color: #fff;
}
.pomodoro__body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 320px;
  border: 10px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  margin: 40px 0;
}
.pomodoro__body span {
  font-size: 60px;
  color: #fff;
}
.pomodoro__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pomodoro__btn {
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  border: none;
  outline: none;
  line-height: 1;
  text-decoration: none;
  padding: 10px 40px;
  margin: 0 30px 0 0;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.2s ease;
}
.pomodoro__btn:last-child {
  margin: 0;
}
.pomodoro__btn::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  top: 0;
  left: -30px;
  transform: skew(-30deg);
  transition: left 0.4s ease;
}
.pomodoro__btn:hover::after {
  animation: moveLightOnBtn 0.4s ease;
}
.pomodoro__btn:active {
  transform: scale(0.95);
}
.pomodoro__btn:disabled {
  background-color: rgba(255, 255, 255, 0.05);
}
.pomodoro__btn:disabled:hover::after {
  animation: none;
}
@keyframes moveLightOnBtn {
  from {
    left: -20px;
  }
  to {
    left: calc(100% + 30px);
  }
}
