@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
@bg-color-first: #e76f51;
@bg-color-second: #468faf;
@bg-color-third: #4d908e;
@primary-color: #ffffff;
@secondary-color: darken(@primary-color, 75%);
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    color: @primary-color;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    transition: background-color .4s linear;
    display: flex;
    flex-direction: column;
    height: 100%;
    @media (max-width: 600px) {
        font-size: 14px;
    }
}
body.bg-color-first {
    background-color: @bg-color-first;
}
body.bg-color-second {
    background-color: @bg-color-second;
}
body.bg-color-third {
    background-color: @bg-color-third;
}
.wrapper {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}
.header {
    flex: 0 0 auto;
    padding: 20px 0 10px 0;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    color: @primary-color;
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
}
.header__nav {
    display: flex;
}
.header__link {
    background-color: fadeout(@primary-color, 90%);
    color: @primary-color;
    text-decoration: none;
    border: none;
    outline: none;
    padding: 10px 20px;
    margin: 0 20px 0 0;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    &:last-child {
        margin: 0;
    }
    &::after {
        position: absolute;
        content: '';
        width: 10px;
        height: 100%;
        background-color: fadeout(@primary-color, 80%);
        top: 0;
        left: -30px;
        transform: skew(-30deg);
    }
    &:hover::after {
        animation: moveLightOnBtn .4s ease;
    }
	&:active {
		transform: scale(0.95);
	}
}
.section {
    flex: 1 0 auto;
    padding: 20px 0;
}
.pomodoro {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pomodoro__timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: fadeout(@primary-color, 90%);
    padding: 40px;
    margin: 0 0 40px 0;

}
.pomodoro__modes {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pomodoro__mode {
	position: relative;
    background-color: transparent;
	color: @primary-color;
	border: none;
	outline: none;
	line-height: 1;
	text-decoration: none;
    text-align: center;
    margin: 0 20px 0 0;
	cursor: pointer;
    @media (max-width: 600px) {
        font-size: 14px;
        margin: 0 15px 0 0;
    }
    &:last-child {
        margin: 0;
    }
    &:hover {
        color: darken(@primary-color, 5%);
    }
	&:active {
		color: darken(@primary-color, 10%);
	}
    &.current {
        font-weight: 700;
    }
    &:disabled {
        color: fadeout(@primary-color, 30%);
    }
    &.current:disabled {
        color: @primary-color;
    }
}
.pomodoro__body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 320px;
	height: 320px;
	border: 10px solid fadeout(@primary-color, 30%);
	border-radius: 50%;
    margin: 40px 0;
	span {
		font-size: 60px;
		color: @primary-color;
        @media (max-width: 800px) {
            font-size: 40px;
        }
	}
    @media (max-width: 600px) {
        width: 200px;
        height: 200px;
        border: 5px solid fadeout(@primary-color, 30%);
    }
}
.pomodoro__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 600px) {
        flex-direction: column;
    }
}
.pomodoro__btn {
	position: relative;
	background-color: fadeout(@primary-color, 80%);
	color: @primary-color;
	border: none;
	outline: none;
	line-height: 1;
	text-decoration: none;
    padding: 10px 40px;
	margin: 0 30px 0 0;
	cursor: pointer;
    overflow: hidden;
    @media (max-width: 600px) {
        width: 200px;
        margin: 0 0 20px 0;
    }
    &:last-child {
        margin: 0;
    }
    &::after {
        position: absolute;
        content: '';
        width: 10px;
        height: 100%;
        background-color: fadeout(@primary-color, 80%);
        top: 0;
        left: -30px;
        transform: skew(-30deg);
    }
    &:hover::after {
        animation: moveLightOnBtn .4s ease;
    }
	&:active {
		transform: scale(0.95);
	}
    &:disabled {
        background-color: fadeout(@primary-color, 95%);
    }
    &:disabled:hover::after {
        animation: none;
    }
    &:disabled:active::after {
        transform: none;
    }
}
.pomodoro__todolist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}
.pomodoro__delete-tasks {
    position: absolute;
    top: -10px;
    right: 0;
    background-color: fadeout(@primary-color, 90%);
    color: @primary-color;
    text-decoration: none;
    border: none;
    outline: none;
    padding: 10px 20px;
    overflow: hidden;
    cursor: pointer;
    &:last-child {
        margin: 0;
    }
    &::after {
        position: absolute;
        content: '';
        width: 10px;
        height: 100%;
        background-color: fadeout(@primary-color, 80%);
        top: 0;
        left: -30px;
        transform: skew(-30deg);
    }
    &:hover::after {
        animation: moveLightOnBtn .4s ease;
    }
	&:active {
		transform: scale(0.95);
	}
}
.pomodoro__delete-tasks-text {
    display: block;
    font-size: 14px;
    @media (max-width: 600px) {
        display: none;
    }
}
.pomodoro__delete-tasks-icon {
    display: none;
    width: 16px;
    height: 16px;
    @media (max-width: 600px) {
        display: block;
    }
}
.pomodoro__title {
    width: 100%;
    font-size: 24px;
    text-align: center;
    border-bottom: 1px solid fadeout(@primary-color, 60%);
    padding: 0 0 10px 0;
    margin: 0 0 20px 0;
    @media (max-width: 600px) {
        font-size: 20px;
    }
}
.pomodoro__addtask {
    width: 100%;
    position: relative;
    input {
        width: 100%;
        background-color: fadeout(@primary-color, 80%);
        color: @primary-color;
        border: none;
        outline: none;
        padding: 10px;
    }
    input::placeholder {
        color: fadeout(@primary-color, 50%);
    }
    button {
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: transparent;
        border: none;
        outline: none;
        top: 0;
        right: 10px;
        transform: translateY(50%);
        cursor: pointer;
    }
    button::before {
        content: '';
        position: absolute;
        width: 2px;
        height: 20px;
        top: 0;
        right: 50%;
        background-color: @primary-color;
        transform: translateX(50%);
    }
    button::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 2px;
        top: 50%;
        right: 0;
        background-color: @primary-color;
        transform: translateY(-50%);
    }
    button:hover::before, button:hover::after {
        background-color: fadeout(@primary-color, 20%);
    }
    button:active::before, button:active::after {
        background-color: fadeout(@primary-color, 40%);
    }
}
.pomodoro__tasks {
    width: 100%;
}
.pomodoro__task {
    width: 100%;
    position: relative;
    margin: 10px 0 0 0;
    position: relative;
    input {
        width: 100%;
        background-color: fadeout(@primary-color, 80%);
        color: @primary-color;
        border: none;
        outline: none;
        padding: 10px 10px 10px 40px;
    }
    input::placeholder {
        color: fadeout(@primary-color, 50%);
    }
    input:focus {
        outline: 2px solid fadeout(@primary-color, 50%);
    }
    button {
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: transparent;
        border: none;
        outline: none;
        top: 0;
        right: 0;
        transform: translateY(50%);
        cursor: pointer;
    }
    .pomodoro__taskdelete {
        right: 10px;
    }
    .pomodoro__taskdelete::before {
        content: '';
        position: absolute;
        width: 2px;
        height: 20px;
        top: 0;
        right: 50%;
        background-color: @primary-color;
        transform: translateX(50%) rotate(45deg);
    }
    .pomodoro__taskdelete::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 2px;
        top: 50%;
        right: 0;
        background-color: @primary-color;
        transform: translateY(-50%) rotate(45deg);
    }
    .pomodoro__taskdelete:hover::before, .pomodoro__taskdelete:hover::after {
        background-color: fadeout(@primary-color, 20%);
    }
    .pomodoro__taskdelete:active::before, .pomodoro__taskdelete:active::after {
        background-color: fadeout(@primary-color, 40%);
    }
    .pomodoro__taskedit {
        right: 40px;
        background-image: url(../img/pencil-alt-solid.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }
}
.pomodoro__task-check {
    display: block;
    background-color: fadeout(@primary-color, 80%);
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
    &::after {
        content: '';
        width: 80%;
        height: 80%;
        position: absolute;
        left: 10%;
        top: 10%;
        background-image: url(../img/check-solid.svg);
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 0;
    }
}
.pomodoro__task-check.active::after {
    opacity: 1;
}
.modal {
    display: none;
	color: darken(@primary-color, 50%);
	&.active {
        display: block;
	}
}
.modal__bg {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: fadeout(@secondary-color, 10%);
	padding: 0 20px;
	z-index: 1000;
}
.modal__dialog {
	position: relative;
	width: 500px;
	background-color: fadeout(@primary-color, 90%);
    color: @primary-color;
	padding: 40px 20px;
}
.modal__title {
    font-size: 24px;
    text-align: center;
    margin: 0 0 30px 0;
}
.modal__close {
	position: absolute;
	background: transparent;
	width: 20px;
	height: 20px;
	border: none;
	outline: none;
	right: 15px;
	top: 20px;
	cursor: pointer;
	&::before, &::after {
		content: '';
		position: absolute;
		width: 20px;
		height: 5px;
		background-color: @primary-color;
		right: 0;
		top: 0;
	}
	&::before {
		transform: rotate(45deg);
	}
	&::after {
		transform: rotate(-45deg);
	}
	&:hover::before {
        transform: rotate(45deg) scale(1.05);
    }
    &:hover::after {
		transform: rotate(-45deg) scale(1.05);
	}
}
.modal__input {
    width: 60px;
    font-size: 18px;
    border: none;
    background-color: fadeout(@primary-color, 80%);
    color: @primary-color;
    outline: 1px solid transparent;
    padding: 10px;
    transition: outline-color .4s linear;
    position: relative;
    &:last-child {
        margin: 0;
    }
    &:disabled {
        color: darken(@primary-color, 35%);
    }
    &:focus {
        outline: 1px solid fadeout(@primary-color, 40%);
    }
}
.modal__input::-webkit-outer-spin-button,
.modal__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.modal__input[type=number] {
    -moz-appearance: textfield;
}
.modal__buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
}
.modal__btn {
    position: relative;
	background-color: fadeout(@primary-color, 80%);
	color: @primary-color;
	border: none;
	outline: none;
	line-height: 1;
	text-decoration: none;
    padding: 10px 50px;
    margin: 0 20px 0 0;
	cursor: pointer;
    overflow: hidden;
    transition: transform .2s linear;
    &:last-child {
        margin: 0;
    }
    &::after {
        position: absolute;
        content: '';
        width: 10px;
        height: 100%;
        background-color: fadeout(@primary-color, 80%);
        top: 0;
        left: -30px;
        transform: skew(-30deg);
    }
    &:hover::after {
        animation: moveLightOnBtn .4s ease;
    }
	&:active {
		transform: scale(0.95);
	}
    &:disabled {
        color: darken(@primary-color, 35%);
    }
    &:disabled:hover::after {
        animation: none;
    }
    &:active:hover::after {
        transform: none;
    }

}
.settings {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.settings__item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 0 30px 0;
}
.settings__name {
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 10px 0;
}
.settings__arrows {
    padding: 0 30px;
    position: relative;
}
.settings__arrow-left, .settings__arrow-right {
    position: absolute;
    background-color: transparent;
    width: 15px;
    height: 15px;
    border-top: 3px solid @primary-color;
    border-left: 3px solid @primary-color;
    top: 0;
}
.settings__arrow-left {
    left: 15px;
    transform: translateY(4px) rotate(-45deg);
    cursor: pointer;
}
.settings__arrow-right {
    right: 15px;
    transform: translateY(4px) rotate(135deg);
    cursor: pointer;
}
.settings__input {
    width: 60px;
    text-align: center;
}
.settings__checkbox {
    display: flex;
    align-items: center;
    position: relative;
}
.settings__defaultcheckbox {
    width: 60px;
    height: 30px;
    z-index: 100;
    opacity: 0;
    margin: 0 20px 0 0;
    cursor: pointer;
}
.settings__customcheckbox {
    width: 60px;
    height: 30px;
    background-color: fadeout(@primary-color, 95%);
    border-radius: 20px;
    position: absolute;
    left: 0;
    top: 0;
    transition: background-color .3s linear;
    &::after {
        content: '';
        width: 30px;
        height: 30px;
        background-color: @primary-color;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 0;
        transition: left .3s linear;
    }
}
.settings__defaultcheckbox:checked + .settings__customcheckbox {
    background-color: fadeout(@primary-color, 80%);
}
.settings__defaultcheckbox:checked + .settings__customcheckbox::after {
    left: calc(100% - 30px);
}
.edit-task {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.edit-task__input {
    width: 100%;
}
.about__list {
    list-style: decimal;
    margin: 0 0 0 20px;
    li {
        padding: 0 0 15px 0;
    }
}
.footer {
    flex: 0 0 auto;
    font-size: 14px;
    text-align: center;
}
.footer__inner {
    padding: 10px 0;
    border-top: 1px solid fadeout(@primary-color, 60%);
    p {
        margin: 0 0 5px 0;
    }
}
.footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        margin: 0 10px 0 0;
    }
    a:last-child {
        margin: 0;
    }
    img {
        width: 20px;
        height: 20px;
    }
}

@keyframes moveLightOnBtn {
    from {
        left: -20px;
    }
    to {
        left: calc(100% + 30px);
    }
}
@keyframes inputAnimation {
    0% {
        outline: 2px solid transparent;
    }
    30%, 60% {
        outline: 2px solid fadeout(@primary-color, 40%);
    }
    100% {
        outline: 2px solid transparent;
    }
}
@keyframes inputAnimation {
    0% {
        outline: 2px solid transparent;
    }
    30%, 60% {
        outline: 2px solid fadeout(@primary-color, 40%);
    }
    100% {
        outline: 2px solid transparent;
    }
}