@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
@primary-color: #e76f51;
@secondary-color: #fff;
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: @primary-color;
    color: @secondary-color;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}
.wrapper {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}
.header {
    padding: 20px 0;
}
.header__inner {
    display: flex;
    justify-content: space-between;
}
.header__logo {
    color: @secondary-color;
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
}
.header__nav {
    display: flex;
}
.header__link {
    background-color: fadeout(@secondary-color, 90%);
    color: @secondary-color;
    text-decoration: none;
    border: none;
    outline: none;
    padding: 10px 20px;
    margin: 0 20px 0 0;
    transition: all .2s ease;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    &:last-child {
        margin: 0;
    }
    &::after {
        position: absolute;
        content: '';
        width: 10px;
        height: 100%;
        background-color: fadeout(@secondary-color, 80%);
        top: 0;
        left: -30px;
        transform: skew(-30deg);
        transition: left .4s ease;
    }
    &:hover::after {
        animation: moveLightOnBtn .4s ease;
    }
	&:active {
		transform: scale(0.95);
	}
}
.section {
    padding: 40px 0;
}
.pomodoro {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pomodoro__timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    background-color: fadeout(@secondary-color, 90%);
    padding: 40px;
}
.pomodoro__modes {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pomodoro__mode {
	position: relative;
    background-color: transparent;
	color: @secondary-color;
	border: none;
	outline: none;
	line-height: 1;
	text-decoration: none;
    margin: 0 20px 0 0;
	cursor: pointer;
    &:last-child {
        margin: 0;
    }
    &:hover {
        color: darken(@secondary-color, 5%);
    }
	&:active {
		color: darken(@secondary-color, 10%);
	}
    &.current {
        font-weight: 700;
    }
    &:disabled {
        color: fadeout(@secondary-color, 30%);
    }
    &.current:disabled {
        color: @secondary-color;
    }
}
.pomodoro__body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 320px;
	height: 320px;
	border: 10px solid fadeout(@secondary-color, 30%);
	border-radius: 50%;
    margin: 40px 0;
	span {
		font-size: 60px;
		color: @secondary-color;
	}
}
.pomodoro__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pomodoro__btn {
	position: relative;
	background-color: fadeout(@secondary-color, 80%);
	color: @secondary-color;
	border: none;
	outline: none;
	line-height: 1;
	text-decoration: none;
    padding: 10px 40px;
	margin: 0 30px 0 0;
	cursor: pointer;
    overflow: hidden;
    transition: all .2s ease;
    &:last-child {
        margin: 0;
    }
    &::after {
        position: absolute;
        content: '';
        width: 10px;
        height: 100%;
        background-color: fadeout(@secondary-color, 80%);
        top: 0;
        left: -30px;
        transform: skew(-30deg);
        transition: left .4s ease;
    }
    &:hover::after {
        animation: moveLightOnBtn .4s ease;
    }
	&:active {
		transform: scale(0.95);
	}
    &:disabled {
        background-color: fadeout(@secondary-color, 95%);
    }
    &:disabled:hover::after {
        animation: none;
    }
}
.modal {
    display: none;
	color: darken(@secondary-color, 50%);
	&.active {
        display: block;
	}
}
.modal__bg {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: fadeout(darken(@secondary-color, 90%), 20%);
	padding: 0 20px;
	z-index: 1000;
}
.modal__dialog {
	position: relative;
	width: 500px;
	background-color: fadeout(@secondary-color, 80%);
    color: @secondary-color;
	padding: 40px;
}
.modal__title {
    font-size: 24px;
    text-align: center;
    margin: 0 0 40px 0;
}
.modal__close {
	position: absolute;
	background: transparent;
	width: 20px;
	height: 20px;
	border: none;
	outline: none;
	right: 15px;
	top: 20px;
	cursor: pointer;
	&::before, &::after {
		content: '';
		position: absolute;
		width: 20px;
		height: 5px;
		background-color: @secondary-color;
		right: 0;
		top: 0;
		transition: all .3s ease;
	}
	&::before {
		transform: rotate(45deg);
	}
	&::after {
		transform: rotate(-45deg);
	}
	&:hover::before, &:hover::after {
		background-color: darken(@secondary-color, 60%);
	}
}
.settings {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.settings__item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 20px 0;
    input {
        width: 60px;
        color: darken(@secondary-color, 90%);
        font-size: 18px;
        border: none;
        background-color: fadeout(@secondary-color, 70%);
        color: @secondary-color;
        outline: none;
        padding: 10px;
        margin: 0 5px 0 0;
        transition: all .4s ease;
        &:last-child {
            margin: 0;
        }
        &:disabled {
            color: darken(@secondary-color, 30%);;
            background-color: fadeout(@secondary-color, 90%);
        }
    }
}
.settings__buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
}
.settings__btn {
    position: relative;
	background-color: fadeout(@secondary-color, 70%);
	color: @secondary-color;
	border: none;
	outline: none;
	line-height: 1;
	text-decoration: none;
    padding: 10px 30px;
    margin: 0 20px 0 0;
	cursor: pointer;
    overflow: hidden;
    transition: all .2s ease;
    &:last-child {
        margin: 0;
    }
    &::after {
        position: absolute;
        content: '';
        width: 10px;
        height: 100%;
        background-color: fadeout(@secondary-color, 80%);
        top: 0;
        left: -30px;
        transform: skew(-30deg);
        transition: left .4s ease;
    }
    &:hover::after {
        animation: moveLightOnBtn .4s ease;
    }
	&:active {
		transform: scale(0.95);
	}
    &:disabled {
        color: darken(@secondary-color, 30%);;
        background-color: fadeout(@secondary-color, 90%);
    }
    &:disabled:hover::after {
        animation: none;
    }

}

@keyframes moveLightOnBtn {
    from {
        left: -20px;
    }
    to {
        left: calc(100% + 30px);
    }
}