@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVuEooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvoooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVsEpYCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pYCP.ttf) format('truetype');
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  background-color: #e76f51;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  transition: background-color 0.4s linear;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.wrapper {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}
.header {
  flex: 0 0 auto;
  padding: 20px 0 10px 0;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
}
.header__nav {
  display: flex;
}
.header__link {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  text-decoration: none;
  border: none;
  outline: none;
  padding: 10px 20px;
  margin: 0 20px 0 0;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.header__link:last-child {
  margin: 0;
}
.header__link::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  top: 0;
  left: -30px;
  transform: skew(-30deg);
}
.header__link:hover::after {
  animation: moveLightOnBtn 0.4s ease;
}
.header__link:active {
  transform: scale(0.95);
}
.section {
  flex: 1 0 auto;
  padding: 20px 0;
}
.pomodoro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pomodoro__timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 40px;
  margin: 0 0 40px 0;
}
.pomodoro__modes {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pomodoro__mode {
  position: relative;
  background-color: transparent;
  color: #ffffff;
  border: none;
  outline: none;
  line-height: 1;
  text-decoration: none;
  text-align: center;
  margin: 0 20px 0 0;
  cursor: pointer;
}
@media (max-width: 600px) {
  .pomodoro__mode {
    font-size: 14px;
    margin: 0 15px 0 0;
  }
}
.pomodoro__mode:last-child {
  margin: 0;
}
.pomodoro__mode:hover {
  color: #f2f2f2;
}
.pomodoro__mode:active {
  color: #e6e6e6;
}
.pomodoro__mode.current {
  font-weight: 700;
}
.pomodoro__mode:disabled {
  color: rgba(255, 255, 255, 0.7);
}
.pomodoro__mode.current:disabled {
  color: #ffffff;
}
.pomodoro__body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 320px;
  border: 10px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  margin: 40px 0;
}
.pomodoro__body span {
  font-size: 60px;
  color: #ffffff;
}
@media (max-width: 800px) {
  .pomodoro__body span {
    font-size: 40px;
  }
}
@media (max-width: 600px) {
  .pomodoro__body {
    width: 200px;
    height: 200px;
    border: 5px solid rgba(255, 255, 255, 0.7);
  }
}
.pomodoro__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 600px) {
  .pomodoro__buttons {
    flex-direction: column;
  }
}
.pomodoro__btn {
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  border: none;
  outline: none;
  line-height: 1;
  text-decoration: none;
  padding: 10px 40px;
  margin: 0 30px 0 0;
  cursor: pointer;
  overflow: hidden;
}
@media (max-width: 600px) {
  .pomodoro__btn {
    width: 200px;
    margin: 0 0 20px 0;
  }
}
.pomodoro__btn:last-child {
  margin: 0;
}
.pomodoro__btn::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  top: 0;
  left: -30px;
  transform: skew(-30deg);
}
.pomodoro__btn:hover::after {
  animation: moveLightOnBtn 0.4s ease;
}
.pomodoro__btn:active {
  transform: scale(0.95);
}
.pomodoro__btn:disabled {
  background-color: rgba(255, 255, 255, 0.05);
}
.pomodoro__btn:disabled:hover::after {
  animation: none;
}
.pomodoro__btn:disabled:active::after {
  transform: none;
}
.pomodoro__todolist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
.pomodoro__delete-tasks {
  position: absolute;
  top: -10px;
  right: 0;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  text-decoration: none;
  border: none;
  outline: none;
  padding: 10px 20px;
  overflow: hidden;
  cursor: pointer;
}
.pomodoro__delete-tasks:last-child {
  margin: 0;
}
.pomodoro__delete-tasks::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  top: 0;
  left: -30px;
  transform: skew(-30deg);
}
.pomodoro__delete-tasks:hover::after {
  animation: moveLightOnBtn 0.4s ease;
}
.pomodoro__delete-tasks:active {
  transform: scale(0.95);
}
.pomodoro__title {
  width: 100%;
  font-size: 24px;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding: 0 0 10px 0;
  margin: 0 0 20px 0;
}
.pomodoro__addtask {
  width: 100%;
  position: relative;
}
.pomodoro__addtask input {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  border: none;
  outline: none;
  padding: 10px;
}
.pomodoro__addtask input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.pomodoro__addtask button {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  top: 0;
  right: 10px;
  transform: translateY(50%);
  cursor: pointer;
}
.pomodoro__addtask button::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 20px;
  top: 0;
  right: 50%;
  background-color: #ffffff;
  transform: translateX(50%);
}
.pomodoro__addtask button::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 2px;
  top: 50%;
  right: 0;
  background-color: #ffffff;
  transform: translateY(-50%);
}
.pomodoro__addtask button:hover::before,
.pomodoro__addtask button:hover::after {
  background-color: rgba(255, 255, 255, 0.8);
}
.pomodoro__addtask button:active::before,
.pomodoro__addtask button:active::after {
  background-color: rgba(255, 255, 255, 0.6);
}
.pomodoro__tasks {
  width: 100%;
}
.pomodoro__task {
  width: 100%;
  margin: 10px 0 0 0;
  position: relative;
}
.pomodoro__task input {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  border: none;
  outline: none;
  padding: 10px 10px 10px 40px;
}
.pomodoro__task input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.pomodoro__task input:focus {
  outline: 2px solid rgba(255, 255, 255, 0.5);
}
.pomodoro__task button {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  top: 0;
  right: 0;
  transform: translateY(50%);
  cursor: pointer;
}
.pomodoro__task .pomodoro__taskdelete {
  right: 10px;
}
.pomodoro__task .pomodoro__taskdelete::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 20px;
  top: 0;
  right: 50%;
  background-color: #ffffff;
  transform: translateX(50%) rotate(45deg);
}
.pomodoro__task .pomodoro__taskdelete::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 2px;
  top: 50%;
  right: 0;
  background-color: #ffffff;
  transform: translateY(-50%) rotate(45deg);
}
.pomodoro__task .pomodoro__taskdelete:hover::before,
.pomodoro__task .pomodoro__taskdelete:hover::after {
  background-color: rgba(255, 255, 255, 0.8);
}
.pomodoro__task .pomodoro__taskdelete:active::before,
.pomodoro__task .pomodoro__taskdelete:active::after {
  background-color: rgba(255, 255, 255, 0.6);
}
.pomodoro__task .pomodoro__taskedit {
  right: 40px;
  background-image: url(../img/pencil-alt-solid.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.pomodoro__task-check {
  display: block;
  background-color: rgba(255, 255, 255, 0.2);
  width: 20px;
  height: 20px;
  position: absolute;
  left: 10px;
  top: 10px;
  cursor: pointer;
}
.pomodoro__task-check::after {
  content: '';
  width: 80%;
  height: 80%;
  position: absolute;
  left: 10%;
  top: 10%;
  background-image: url(../img/check-solid.svg);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
}
.pomodoro__task-check.active::after {
  opacity: 1;
}
.modal {
  display: none;
  color: #808080;
}
.modal.active {
  display: block;
}
.modal__bg {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(64, 64, 64, 0.9);
  padding: 0 20px;
  z-index: 1000;
}
.modal__dialog {
  position: relative;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  padding: 40px 20px;
}
.modal__title {
  font-size: 24px;
  text-align: center;
  margin: 0 0 20px 0;
}
.modal__close {
  position: absolute;
  background: transparent;
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  right: 15px;
  top: 20px;
  cursor: pointer;
}
.modal__close::before,
.modal__close::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 5px;
  background-color: #ffffff;
  right: 0;
  top: 0;
}
.modal__close::before {
  transform: rotate(45deg);
}
.modal__close::after {
  transform: rotate(-45deg);
}
.modal__close:hover::before {
  transform: rotate(45deg) scale(1.05);
}
.modal__close:hover::after {
  transform: rotate(-45deg) scale(1.05);
}
.modal__input {
  width: 60px;
  font-size: 18px;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  outline: 1px solid transparent;
  padding: 10px;
  transition: outline-color 0.4s linear;
  position: relative;
}
.modal__input:last-child {
  margin: 0;
}
.modal__input:disabled {
  color: #a6a6a6;
}
.modal__buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 0 0;
}
.modal__btn {
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  border: none;
  outline: none;
  line-height: 1;
  text-decoration: none;
  padding: 10px 50px;
  margin: 0 20px 0 0;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.2s linear;
}
.modal__btn:last-child {
  margin: 0;
}
.modal__btn::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  top: 0;
  left: -30px;
  transform: skew(-30deg);
}
.modal__btn:hover::after {
  animation: moveLightOnBtn 0.4s ease;
}
.modal__btn:active {
  transform: scale(0.95);
}
.modal__btn:disabled {
  color: #a6a6a6;
}
.modal__btn:disabled:hover::after {
  animation: none;
}
.modal__btn:active:hover::after {
  transform: none;
}
.settings {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.settings__item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 0 20px 0;
}
.settings__name {
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin: 0 0 10px 0;
}
.settings__arrows {
  padding: 0 30px;
  position: relative;
}
.settings__arrow-left,
.settings__arrow-right {
  position: absolute;
  background-color: transparent;
  width: 15px;
  height: 15px;
  border-top: 3px solid #ffffff;
  border-left: 3px solid #ffffff;
  top: 0;
}
.settings__arrow-left {
  left: 15px;
  transform: translateY(4px) rotate(-45deg);
  cursor: pointer;
}
.settings__arrow-right {
  right: 15px;
  transform: translateY(4px) rotate(135deg);
  cursor: pointer;
}
.settings__input {
  width: 60px;
  text-align: center;
}
.modal__input::-webkit-outer-spin-button,
.modal__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.modal__input[type=number] {
  -moz-appearance: textfield;
}
.edit-task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.edit-task__input {
  width: 100%;
}
.about__list {
  list-style: decimal;
  margin: 0 0 0 20px;
}
.about__list li {
  padding: 0 0 15px 0;
}
.footer {
  flex: 0 0 auto;
  font-size: 14px;
  text-align: center;
}
.footer__inner {
  padding: 10px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}
.footer__inner p {
  margin: 0 0 5px 0;
}
.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__social a {
  margin: 0 10px 0 0;
}
.footer__social a:last-child {
  margin: 0;
}
.footer__social img {
  width: 20px;
  height: 20px;
}
@keyframes moveLightOnBtn {
  from {
    left: -20px;
  }
  to {
    left: calc(100% + 30px);
  }
}
@keyframes inputAnimation {
  0% {
    outline: 2px solid transparent;
  }
  30%,
  60% {
    outline: 2px solid rgba(255, 255, 255, 0.6);
  }
  100% {
    outline: 2px solid transparent;
  }
}
@keyframes inputAnimation {
  0% {
    outline: 2px solid transparent;
  }
  30%,
  60% {
    outline: 2px solid rgba(255, 255, 255, 0.6);
  }
  100% {
    outline: 2px solid transparent;
  }
}
